<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da Velha DOIS</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>

    <div class="bg-orb orb-1"></div>
    <div class="bg-orb orb-2"></div>

    <main class="login-card">
        <h1 class="game-logo">Jogo da Velha <b>DOIS</b></h1>

        <form action="/play" method="POST">
            <div class="input-group">
                <input type="text" name="nickname" placeholder="Seu nickname" required maxlength="15">
            </div>

            <div class="input-group">
                <input type="text" name="room_code" placeholder="Código da sala (para entrar)">
            </div>
            
            <div class="actions">
                <button type="submit" class="btn-play">
                    JOGAR
                </button>
            </div>
        </form>
    </main>

</body>
</html>